/* Variables */
$color-main: #fdd036;
$light-gray: #f7f7f7;
$header-text-color: #222222;
$text-color: #a2a2a2;
$logo-font: 'Great Vibes', cursive;
$text-font: 'Source Serif Pro', serif;
$subtitle-font: 'Inter', sans-serif;
$transition: all .5s linear;


/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}



p {
  color: $text-color;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

.section-header {
  color: $header-text-color;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.section-subtitle {
  color: $text-color;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  font-family: $subtitle-font;
  margin-bottom: 70px;
}

.card {
  border: none;
  text-align: center;
}

h3.card-title {
  font-size: 20px;
}

p.card-text {
  font-family: $text-font;
}

/* Navigation */

nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px 0;

    .brand-logo a {
      color: $color-main;
      font-family: $logo-font;
      font-size: 30px;
      letter-spacing: 1.2px;
      transition: $transition;
      display: inline-block;

      &:hover {
        scale: 1.4;
      }
    }


    ul {

      li {
        display: inline-block;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: white;
          font-family: $subtitle-font;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px;
          transition: $transition;
          padding: 1.1rem;

          &:hover {
            color: $color-main;
          }
        }
      }
    }
  }
}

/*Header */

header.splash {
  position: relative;
  background-image: url(../images/spach_image.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  z-index: -5;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #343a40;
    opacity: 70%;
  }

  .splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    padding-top: 110px;

    h1 {
      font-family: $subtitle-font;
      font-size: 71px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }

    h2.subtitle {
      font-family: $text-font;
      font-size: 43px;
      font-style: italic;
      margin-bottom: 25px;
    }

    a {
      padding: 18px 52px;
      background-color: #fdd036;
      text-transform: uppercase;
      border-radius: 3px;
      font-weight: bold;
      font-size: 19px;
      display: inline-block;
      cursor: pointer;
    }
  }
}

/* Services */

.services {

  .card {
    padding: 30px 15px;

    .card-icon {
      color: $color-main;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid $color-main;
      text-align: center;
      margin: 0 auto 20px auto;
      transition: $transition;

      span {
        font-size: 45px;
      }
    }

    &:hover {

      .card-icon {
        color: white;
        background-color: $color-main;
      }
    }
  }
}

/* Portfolio */

.portfolio {
  background-color: $light-gray;

  .row {

    .col-md-4:nth-child(1) {

      .card {

        .card-image {
          background-image: url(../images/c1.jpeg);
        }
      }
    }

    .col-md-4:nth-child(2) {
      .card {
        .card-image {
          background-image: url(../images/c2.jpeg);
        }
      }
    }

    .col-md-4:nth-child(3) {
      .card {
        .card-image {
          background-image: url(../images/c3.jpeg);
        }
      }
    }

    .col-md-4:nth-child(4) {
      .card {
        .card-image {
          background-image: url(../images/c4.jpeg);
        }
      }
    }

    .col-md-4:nth-child(5) {
      .card {
        .card-image {
          background-image: url(../images/c5.jpeg);
        }
      }
    }

    .col-md-4:nth-child(6) {
      .card {
        .card-image {
          background-image: url(../images/c6.jpeg);
        }
      }
    }
  }

  .card {
    margin-bottom: 40px;


    .card-image {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 300px;
      position: relative;


      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 40%;
        z-index: 10;
        background: transparent;
        display: block;
        transition: $transition;
      }
    }

    &:hover .card-image:after {
      background-color: $color-main;
    }

    .card-title {
      margin-top: 20px;

    }

    .card-text {
      font-style: italic;
      margin-bottom: 20px;
      margin-top: -5px;
    }
  }
}

/* Footer */

footer {
  padding: 30px 0;
  position: relative;

  p.copyright-text {
    color: $header-text-color;
    font-size: 12px;
    margin-bottom: 0;
  }

  .wrapper {
    text-align: center;

    span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: white;
      background-color: $header-text-color;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 5px;
    }
  }
}

/* @media */

@media (max-width: 992px) {
  nav .wrapper{
      padding: 32px 0;
  }

  header.splash .splash-inner h1 {
    font-size: 56px;
  }

  header.splash .splash-inner h2.subtitle {
    font-size: 38px;
  }

  footer {

    .row {
      flex-direction: column-reverse;
      text-align: center;

      .social-icon {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 776px) {
  .nav-list {
    display: none;
  }
}

@media (max-width: 576px) {

  .services .card {
    padding: 30px 50px;
  }
}